.marquee {
    max-width: 500vw; /* iOS braucht das */
    white-space: nowrap;
    overflow: hidden;
    color: $farbeschrift;
    font-size: 1.8em;
    /* hier evtl. noch font-size, color usw. */
}

.marquee span {
    display: inline-block;
    padding-left: 10%; /* die zusätzlichen 5% erzeugen einen verzögerten Start und vermeiden so ein Ruckeln auf langsamen Seiten */
    animation: marquee 30s linear infinite;
}

/* Optional: mouseover (oder Tipp auf dem Touchscreen) pausiert die Laufschrift */
.marquee span:hover {
    animation-play-state: paused 
}

/* Make it move */
@keyframes marquee {
    0%   { transform: translateX(0); }
    100% { transform: translateX(-100%); }
}