

.textlanesvg{
    text-align: right;
    fill: $farbeschrift;
}

.textnumbersvg{
    text-align: right;
    font-weight: bold;
    fill: $farbeschrift;
}
  
.gradient_lane {
    stop-color: #FF0000;
}

.gradient_name {
    fill: $lanecolor;
}

.gradient_place {
    stop-color:  rgb(0, 255, 0);
}

.textplacesvg{
    font-size: 10;
    text-align: right;
    font-weight: bold;
}
