.textlanesvg{
    text-align: right;
    fill: $farbeschrift;
    font-size: 2em;
}

.textWKNamesvg{
    text-align: right;
    fill: $farbeschrift;
    font-size: 1.8em;
}

.textHeaderHeatEventsvg{
    text-align: right;
    fill: $farbeschrift;
    font-size: 1.4em;
}

.textnumbersvg{
    text-align: right;
    font-weight: bold;
    fill: $farbeschrift;
}
  
.gradient_lane {
    stop-color: #FF0000;
}

.gradient_name {
    fill: $lanecolor;
}

.gradient_place {
    stop-color:  rgb(0, 255, 0);
}

.textplacesvg{
    font-size: 10;
    text-align: right;
    font-weight: bold;
}

.headertimeline{
    fill: $farbeschrift;
    font-size: 1.2em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}