$farbeschriftplace: white;
$farbeschrift: white;

//$farbehintergrund_all: rgba(27, 50, 179 , 0.8);
//$farbehintergrund: rgb(27, 50, 179);

$farbehintergrund: rgba(27, 50, 179,0.5);
$farbehintergrund_all: rgba(27, 50, 179,0.9);
//$farbehintergrund: rgb(27, 50, 179);

$farbeseparator: white;


$lanesize: 1.3em; 
$smallsize: 0.6em;
$normalsize: 1em;
$topsize: 1.4em;

$laneheight: 50px;

//linear-gradient(45deg, #4cd45a 20%, #FF8E53 70%);

// the <table> css


  // video

  .videotable-variable {
    background-color: black;
    border-spacing: 0;
    border-spacing: 0;
    background-color: black;
    border-top: 0px;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
    border-spacing: 0px;
    padding: 0px;
    border-collapse: collapse;
}